###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.la
*.lo
*.log
*.trs
*.tar.*
*.gcda
*.gcno
coverage.info
coverage_html/
test-*-dynamic
test-*-static
test-deque
test-custom-allocator
test-deque-new
test-out-of-memory
test-peek
test-push-pop

################
# autoreconf files
################
INSTALL
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h.in
configure
m4/

################
# ./configure output
################
Makefile
config.h
config.log
config.status
libtool
.deps/
stamp-h1
.libs/
.dirstamp
